.Side-nav-button-container {
  padding-left: 20px;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  z-index: 11;
  left: 0;
  /* min-width: 100vw; */
  height: 8vh;
  /* border-style: solid; */
  /* border-color: blue; */
  position: fixed;
  top: 0;

  /* width: 35vw; */
  text-transform: none;
}
.Menu-btm {
  margin-left: 20px;
}

.Nav-menu {
  border-right: solid lightgray;
  transition: width 0.3s ease-in-out;
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 12;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Nav-menu-closed {
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.Close-menu-btn {
  padding: 20px;
  margin: 20px;
}

.Nav-item {
  /* background-color: pink; */
  text-align: start;
  padding: 5px;
}
