.Under-construction {
  border-style: solid;
  border-color: black;
  margin: 10px;
  padding: 2px;
  padding-bottom: 5px;
  /* height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(350deg);
  backdrop-filter: blur(5px);
}
.Construction-stamp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#under-construction-text {
  user-select: none;
  /* border-style: solid; */
  /* border-color: blue; */
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  /* line-height: 2.23vw; */
  /* letter-spacing: 0.39vw; */
  font-size: 23px;
}

.Acorn-logo {
  padding: 1.5vw;
  /* border-style: solid; */
  /* border-color: blue; */
  height: 3vw;
  width: auto;
  fill: black;
}

@media (prefers-reduced-motion: no-preference) {
  .Acorn-logo {
    animation: Acorn-logo-spin infinite 20s linear;
  }
}

@keyframes Acorn-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
