.Main-header {
  /* background-color: #282c34; */
  border-style: solid;
  border-color: green;
  user-select: none;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.TitleWithLine {
  /* margin-top: 3vh;
  margin-bottom: 3vh; */
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: blue;
}

.vl {
  margin-left: 2vw;
  margin-right: 2vw;
  border-left: 1px solid black;
  height: 7vh;
}
#title {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  color: #000;
  line-height: 2.23vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35vw;
  text-align: right;
  letter-spacing: 0.39vw;
  font-size: 1.6vw;
}
#description {
  letter-spacing: 0.125vw;
  font-family: "caslon";
  font-size: 1.5vw;
  color: #000;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  width: 35vw;
  text-transform: none;
}

.Image-container {
  height: 60vh;
  width: 60vw;
  border-style: solid;
  border-color: green;
  overflow: hidden;
}

.App-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Under-construction {
  border-style: solid;
  border-color: blue;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#under-construction-text {
  user-select: none;
  border-style: solid;
  border-color: blue;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  line-height: 2.23vw;
  letter-spacing: 0.39vw;
  font-size: 1.6vw;
}

.Acorn-logo {
  padding: 1.5vw;
  border-style: solid;
  border-color: blue;
  height: 3vw;
  width: auto;
  fill: black;
}

@media (prefers-reduced-motion: no-preference) {
  .Acorn-logo {
    animation: Acorn-logo-spin infinite 20s linear;
  }
}

@keyframes Acorn-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bottom-icon-container {
  border-style: solid;
  border-color: blue;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Acorn-medley-svg {
  height: 16vh;
  width: auto;
  fill: #1f2425;
  /* fill: black; */
}
